<?xml version="1.0"?>

<configuration>
  <connectionStrings>
    <add name="UWPCS3870ConnectionString" connectionString="Data Source=Alpha;Initial Catalog=UWPCS3870;User ID=MSCS;Password=MasterInCS"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.web>
      <compilation debug="false" targetFramework="4.0" />
    <customErrors mode="Off"/>
    </system.web>

</configuration>
