<?xml version="1.0"?>
<configuration>
   <connectionStrings>
      <!--<add name="UWPCS3870ConnectionString" connectionString="Data Source=Alpha;Initial Catalog=UWPCS3870;User ID=MSCS;Password=MasterInCS"
        providerName="System.Data.SqlClient" />
      <add name="ConnectionString2" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\UWPCS3870.accdb"
        providerName="System.Data.OleDb" />-->

      <add name="AlphaConnectionString" connectionString="Data Source=alpha;Initial Catalog=UWPCS3870;User ID=mscs;Password=MasterInCS"
        providerName="System.Data.SqlClient" />

   </connectionStrings>

   <system.web>
      <compilation debug="true" targetFramework="4.6" explicit="true" tempDirectory="C:\temp\"/>
      <customErrors mode="Off"/>
      <pages controlRenderingCompatibilityVersion="4.0"/>


      <authentication mode="Forms" >
         <forms name="formsAuth"
                loginUrl="login.aspx" path="/"
                requireSSL="false"
                slidingExpiration="true"
                protection="All"
                defaultUrl="~/Prog6/Default.aspx"
                timeout="30" cookieless="UseDeviceProfile" />
      </authentication>


      <machineKey
     validationKey="C50B3C89CB21F4F1422FF158A5B42D0E8DB8CB5CDA1742572A487D9401E3400267682B202B746511891C1BAF47F8D25C07F6C39A104696DB51F17C529AD3CABE"
     decryptionKey="8A9BE8FD67AF6979E7D20198CFEA50DD3D3799C77AF2B72F"
     validation="SHA1" />

      <membership defaultProvider="AlphaMembershipProvider" userIsOnlineTimeWindow="15">
         <providers>
            <add
              name="AlphaMembershipProvider"
              applicationName="brandk"
              type="UWPCS3870.AlphaMembershipProvider"
              connectionStringName="AlphaConnectionString"
              enablePasswordRetrieval="false"
              enablePasswordReset="false"
              requiresQuestionAndAnswer="false"
              requiresUniqueEmail="false"
              writeExceptionsToEventLog="false" />
         </providers>
      </membership>

      <roleManager defaultProvider="AlphaRoleProvider"
       enabled="true"
       cacheRolesInCookie="true"
       cookieName=".ASPROLES"
       cookieTimeout="30"
       cookiePath="/"
       cookieRequireSSL="false"
       cookieSlidingExpiration="true"
       cookieProtection="All" >
         <providers>
            <clear />
            <add
              name="AlphaRoleProvider"
              type="UWPCS3870.AlphaRoleProvider"
              connectionStringName="AlphaConnectionString"
              applicationName="brandk"
              writeExceptionsToEventLog="false" />
         </providers>
      </roleManager>

   </system.web>

   
   

   <!--Test 3 Stuff-->
   <location path="Ajax">
      <system.web>
         <authorization>
            <deny users="?" />
         </authorization>
      </system.web>
   </location>
   
   <location path="Ajax/Default.aspx">
      <system.web>
         <authorization>
            <allow users="Master, Windows" />
            <deny users="WebApps" />
         </authorization>
      </system.web>
   </location>

   <location path="Prog6">
      <system.web>
         <authorization>
            <allow users="Master, WebApps" />
            <deny users="Windows, ?" />
         </authorization>
      </system.web>
   </location>
   

</configuration>